<tr>
    <td class="date">{{createdDate}}</td>
    <td class="billing"><a href="#">{{shopName}}</a></td>
    <td class="price">{{amount}}</td>
    <td class="plus">{{accumulatedPoint}}</td>
    <td class="minus">{{usedPoint}}</td>
</tr>