<div class="detail">
    <p class="date">{{createdDate}}</p>
    <p class="store">{{shopName}}</p>
    <p class="price">구매금액 : <span>{{amount}}</span></p>
    <p class="charge"><span class="pnt"><i>{{accumulatedPoint}}</i>P 적립</span><span class="pay"><i class="red">{{usedPoint}}P</i> 사용</span></p>
</div>