<div class="shipping">
    <h4>배송정보</h4>
    <dl>
        <dt>받는분</dt>
        <dd><em>{{firstName}}</em></dd>
        <dt>전화번호</dt>
        <dd>{{phone}}</dd>
        <dt>휴대폰번호</dt>
        <dd>{{cellPhone}}</dd>
        <dt>배송주소</dt>
        <dd>[{{postalCode}}]  {{line1}}</dd>
        <dt>배송메모</dt>
        <dd>
            {{deliveryMemo}}
        </dd>
    </dl>
</div>