<li data-custnm="{{custNm}}"
    data-cnslofcmemo="{{cnslofcMemo}}"
    data-cmplth2schddt="{{cmplTh2SchdDt}}"
    data-shopsenddt="{{shopSendDt}}"
    data-empnm="{{empNm}}"
    data-mendn1chrdyn="{{mendN1ChrdYn}}"
    data-mendsenddt="{{mendSendDt}}">
    <dl>
        <dt>접수일</dt>
        <dd class="cnslofcRcptDt">{{cnslofcRcptDt}}</dd>
        <dt>접수매장</dt>
        <dd class="shopNM">{{shopNM}}</dd>
        <dt>상품코드</dt>
        <dd class="prod-code styleColorCd">{{styleColorCd}}</dd>
        <dt>수선내용</dt>
        <dd class="mendC">{{mendC}}</dd>
        <dd class="as-more"><a href="#" class="repairItemSubmitBtn">자세히 보기</a></dd>
    </dl>
</li>