{{#> mobile/layouts/default }}
    {{#*inline "header"}}
        {{>mobile/partials/navigation-with-back}}
    {{/inline}}

    {{#*inline "extrajavascript"}}
        <script type="text/javascript">
                {{precompile "mobile/precompiles/product/grid"}}
        </script>
    {{/inline}}

    {{#*inline "content"}}
        <h2 class="hidden">KOLONmall 본문영역</h2>
        <section id="kolon-content" class="pt0">

            <div class="brand-main-new">
                <div class="wrap-txt">
                    <h2>{{category.name}}</h2>
                    <p>
                        {{{nl2br brandIntro.main}}}
                    </p>
                </div>
            </div>

            <!-- navigation -->
            <div class="scr-navi">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a>홈</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Brand/{{category.id}}/Intro" class="">브랜드소개</a>
                    </div>
                    {{#category.subcategories}}
                        <div class="swiper-slide">
                            <a href="{{url}}" class="{{#is ../selectedCategory.id id}}on{{/is}}">{{name}}</a>
                        </div>
                    {{/category.subcategories}}
                </div>
            </div>
            <!-- // navigation -->

            {{#fetch_banner "MOBILE" "brand" category.id "main"}}
                {{#if banners.page.totalCount}}
                    <article class="prod-big-bnr hv-sbtit">
                        {{{render_banner "mobile" "contents/flicking" banners}}}
                    </article>
                {{/if}}
            {{/fetch_banner}}

            <div class="prod-list-top">
                <h3>SHOP IN BRAND</h3>
            </div>
            <article class="shop-list">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop01.jpg" alt="brand image">
                        <p>ACROPOLIS</p>
                    </div>
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop02.jpg" alt="brand image">
                        <p>ARMEDANGELS</p>
                    </div>
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop03.jpg" alt="brand image">
                        <p>ADD</p>
                    </div>
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop01.jpg" alt="brand image">
                        <p>ACROPOLIS</p>
                    </div>
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop02.jpg" alt="brand image">
                        <p>ARMEDANGELS</p>
                    </div>
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop03.jpg" alt="brand image">
                        <p>ADD</p>
                    </div>
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop01.jpg" alt="brand image">
                        <p>ACROPOLIS</p>
                    </div>
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop02.jpg" alt="brand image">
                        <p>ARMEDANGELS</p>
                    </div>
                    <div class="shop swiper-slide">
                        <img src="/_ui/img/m/temp/brand-shop03.jpg" alt="brand image">
                        <p>ADD</p>
                    </div>
                </div>
            </article>

            <article class="list2-prod">
                <div class="prod-list-top mt2">
                    <h3>신상품</h3>
                </div>
                {{#fetch_product "mobile" "new" parameters 6}}
                    {{{render_product "mobile" "grid" product parameters}}}
                {{/fetch_product}}
            </article>

            {{#fetch_banner "MOBILE" "brand" category.id "issue-and-deal"}}
                {{#if banners.page.totalCount}}
                    <article class="prod-big-bnr hv-sbtit">
                        <div class="prod-list-top">
                            <h3>브랜드 이슈</h3>
                        </div>
                        {{{render_banner "mobile" "contents/default" banners}}}
                    </article>
                {{/if}}
            {{/fetch_banner}}

            <article class="list2-prod">
                <div class="prod-list-top mt2">
                    <h3>추천상품</h3>
                </div>
                {{#fetch_product "mobile" "" parameters 6}}
                    {{{render_product "mobile" "grid" product parameters}}}
                {{/fetch_product}}
            </article>

        </section>
    {{/inline}}
{{/mobile/layouts/default}}
