<!-- navigation -->
<nav class="wrap-navi">
    <h3>{{title}}</h3>
    <dl class="sub-menu">
        {{#is submenu "Special"}}<dt>{{else}}<dd>{{/is}}<a href="/Special">기획전</a>{{#is submenu "Special"}}</dt>{{else}}</dd>{{/is}}
        {{#is submenu "Event"}}<dt>{{else}}<dd>{{/is}}<a href="/Event">이벤트</a>{{#is submenu "Event"}}</dt>{{else}}</dd>{{/is}}
    </dl>
    <!--<div class="sub-menu-brand">-->
        <!--<h4 class="tit">BRAND</h4>-->
        <!--<button type="button" class="reset">RESET</button>-->
        <!--<ul>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand1">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand1">SERIES</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand2">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand2">EPIGRAM</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand3">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand3">SHIRT X SERIES</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand4">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand4">BYSERIES</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand5">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand5">RECODE</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand6">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand6">ACROPOLIS</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand7">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand7">ADD</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand8">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand8">ALPHA INDUSTRIES</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand9">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand9">ANNACROIX</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand10">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand10">ANTONY MORATO</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand11">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand11">ALL AROUND SHIRT</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand12">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand12">ANERKJENDT</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand13">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand13">BOMBOOGIE</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand14">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand14">BLC GRAY</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand15">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand15">CROSSLEY</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand16">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand16">CAPTAINFIN</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand17">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand17">COTE BASTIDE</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand18">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand18">CUSTOM CULTURE</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand19">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand19">COMMON CUT</label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="checkbox">-->
                  <!--<input type="checkbox" id="brand20">-->
                  <!--<i></i>-->
                <!--</span>-->
                <!--<label for="brand20">DSTREEXXED</label>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<button type="button" class="more">더보기</button>-->
    <!--</div>-->
    {{>desktop/partials/lnb-banner}}
    <!--<div class="sub-menu-prod">-->
        <!--<a href="#"><img src="/_ui/img/pc/temp/@72x74.jpg" alt=""></a>-->
        <!--<a href="#"><img src="/_ui/img/pc/temp/@72x74.jpg" alt=""></a>-->
        <!--<a href="#"><img src="/_ui/img/pc/temp/@72x74.jpg" alt=""></a>-->
        <!--<a href="#"><img src="/_ui/img/pc/temp/@72x74.jpg" alt=""></a>-->
    <!--</div>-->
</nav>
<!-- //navigation -->